[submodule "Toolbox"]
	path = Toolbox
	url = https://github.com/MooGuZ/Toolbox.git
[submodule "jsonlab"]
	path = jsonlab
	url = https://github.com/fangq/jsonlab.git
[submodule "minFunc"]
	path = minFunc
	url = git@github.com:MooGuZ/minFunc.git
